<p class="description">Section for you to decide on where to put your Spot.</p>
<table class="form-table">
    <tbody>
        <tr>
            <td>
                <select name="spotim-rules[param]" class="">
                    <option value="all">All</option>
                    <option value="post_type">Post Type</option>
                    <option value="post">Post</option>
                    <option value="category">Category</option>
                    <option value="page">Page</option>
                    <option value="template">Template</option>
                </select>
                <select name="spotim-rules[value]" class="">
                    <option value="post">Post</option>
                    <option value="page">Page</option>
                </select>
                <input type="hidden" name="spotim-rules[visible]" value="1">
                <button type="button" class="button button-secondary active" value="1">Show</button>
                <button type="button" class="button button-secondary" value="0">Hide</button>
            </td>
        </tr>
    </tbody>
</table>

<a href="#" class="add-new-h2">Add New</a>